<section class="footer">
    <small class="footer__copy">Laura Carbajales © 2021</small>
    <section class="footer__rrss">
        <h3>Find me on:</h3>
        <ul class="footer__rrss--list">
            <li><a href="https://github.com/Laura-Carbajales">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/lauracarbajales/">Linkedin</a></li>
            <li><a href="https://twitter.com/Lau_1505">Twitter</a></li>
        </ul>
    </section>
    <section class="footer__logo">
        <img class="footer__logo--img" src="./assets/images/huella_logo.svg" alt="company logo">
    </section>
</section>