<header>
    <section class="header">
        <img class="header__logo" src="./assets/images/huella_logo.svg" alt="company logo">
        <h1 class="header__title">The kennel</h1>
    </section>
    <section class="hero">
        <h2 class="hero__title">Hello</h2>
        <p class="hero__text">
            If you've made it this far, you've already taken the first step. Hundreds of dogs are waiting for a home.
            <br><strong class="hero__text--strong">¡Adopt, don't buy!</strong>
        </p>
    </section>
</header>