<main class="main">

    <article class="main__card 1">
        <img class="main__card--img" src="./assets/images/dog_1.jpg" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Rufo is waiting for you.</h3>
    </article>
    <article class="main__card 2">
        <img class="main__card--img" src="./assets/images/dog_2.jpg" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Coco is looking for a home.</h3>
    </article>
    <article class="main__card 3">
        <img class="main__card--img" src="./assets/images/dog_3.jpg" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Adopt her.</h3>
    </article>
    <article class="main__card 4">
        <img class="main__card--img" src="./assets/images/dog_4.png" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Banana is the most sleepy.</h3>
    </article>
    <article class="main__card 5">
        <img class="main__card--img" src="./assets/images/dog_5.jpg" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Thor can be your best friend.</h3>
    </article>
    <article class="main__card 6">
        <img class="main__card--img" src="./assets/images/dog_6.png" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Golfo is waiting for you.</h3>
    </article>
    <article class="main__card 7">
        <img class="main__card--img" src="./assets/images/dog_7.jpg" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">All Pipo needs is love.</h3>
    </article>
    <article class="main__card 8">
        <img class="main__card--img" src="./assets/images/dog_8.png" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Black is looking for a home. </h3>
    </article>
    <article class="main__card 9">
        <img class="main__card--img" src="./assets/images/dog_9.png" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Brownie is waiting for you.</h3>
    </article>
</main>