<main class="main">

    <article class="main__card">
        <img class="main__card--img" src="./assets/images/dog.jpg" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Rufo is waiting for you.</h3>
    </article>
    <article class="main__card">
        <img class="main__card--img" src="./assets/images/orejotas.jpg" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Coco is looking for a home.</h3>
    </article>
    <article class="main__card">
        <img class="main__card--img" src="./assets/images/puppy.jpg" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Adopt her.</h3>
    </article>
    <article class="main__card">
        <img class="main__card--img" src="./assets/images/platano.jpg" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Banana is the most sleepy.</h3>
    </article>
    <article class="main__card">
        <img class="main__card--img" src="./assets/images/labrador.jpg" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Thor can be your best friend.</h3>
    </article>
    <article class="main__card">
        <img class="main__card--img" src="./assets/images/dog2.png" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Golfo is waiting for you.</h3>
    </article>
    <article class="main__card">
        <img class="main__card--img" src="./assets/images/doggy.png" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">All Pipo needs is love.</h3>
    </article>
    <article class="main__card">
        <img class="main__card--img" src="./assets/images/dog3.png" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Black is looking for a home. </h3>
    </article>
    <article class="main__card">
        <img class="main__card--img" src="./assets/images/dog4.png" alt="photo of a puppy for adoption">
        <h3 class="main__card--title">Brownie is waiting for you.</h3>
    </article>
</main>