.header {
  background-color: $colorMain;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;

  &__logo {
    height: 60px;
    margin-left: 20px;
    margin-right: 10px;
    color: white;
    @media (min-width: 700px) {
      margin-left: 50px;
    }
  }

  &__title {
    font-size: 2rem;
    color: $colorWhite;
  }
}

.hero {
  height: 340px;
  width: 100vw;
  background-image: url(../images/hero_dog.jpg);
  background-size: cover;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  @media all and (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @media all and (min-width: 1000px) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  &__title {
    font-size: 8rem;
    color: $colorWhite;
    padding: 30px 0 0 20px;
    grid-column: 1/2;
    grid-row: 1/2;
    text-shadow: 0px 0px 5px $colorDarkGrey;
    @media all and (min-width: 700px) {
      grid-column: 1/2;
      grid-row: 2/3;
      padding: 0px;
      text-align: end;
      padding-right: 10px;
      padding-left: 40px;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 1.25rem;
    color: $colorWhite;
    text-shadow: 0px 0px 5px $colorDarkGrey;
    padding: 10px 20px 5px 20px;
    max-width: 900px;
    line-height: 1.5rem;
    grid-column: 1/2;
    grid-row: 2/3;
    &--strong {
      font-weight: bold;
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
    @media all and (min-width: 700px) {
      grid-column: 2/3;
      grid-row: 2/3;
      padding-left: 10px;
      padding-right: 40px;
    }
  }
}
