.header {
  background-color: $colorMain;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;

  &__logo {
    height: 50px;
    margin: 20px;
    color: white;
  }

  &__title {
    font-size: 2rem;
    color: $colorWhite;
  }
}

.hero {
  height: 340px;
  width: 100vw;
  background-image: url(../images/3.jpg);
  background-size: cover;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  @media all and (min-width: 700px) {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 8rem;
    color: $colorWhite;
    margin-left: 20px;
    grid-column: 1/3;
    grid-row: 2/3;
    text-shadow: 0px 0px 5px $colorDarkGrey;
    @media all and (min-width: 700px) {
      grid-column: 1/2;
      grid-row: 1/3;
      margin: 0 10px 0 40px;
    }
  }

  &__text {
    margin-right: 60px;
    font-weight: bold;
    font-size: 1.25rem;
    color: $colorWhite;
    text-shadow: 0px 0px 5px $colorDarkGrey;
    padding: 0 0 20px 20px;
    max-width: 900px;
    line-height: 1.5rem;
    grid-column: 1 / 3;
    grid-row: 3/4;
    &--strong {
      font-weight: bold;
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
    @media all and (min-width: 700px) {
      grid-column: 2/3;
      grid-row: 1/3;
      margin: 0 40px 0 40px;
    }
  }
}
