.main {
  max-width: 960px;
  margin: 0 auto 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 220px;
  grid-gap: 10px;

  @media all and (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px;
    grid-gap: 10px;
  }
  @media all and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px;
    grid-gap: 10px;
  }

  &__card {
    position: relative;

    &--img {
      height: 220px;
      width: 100%;
      object-fit: cover;
    }
    &--title {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px;
      color: $colorWhite;
      text-shadow: 0px 0px 5px $colorDarkGrey;
      background-color: rgba(29, 29, 29, 0.584);
    }
  }
}
